<%# .row %>
<div class="row gx-4 mt-1">

<% movies.each do |movie|%>
<%#  .col-lg-4 %>
<div class="col-lg-4 mb-3">                        
    <%# .card %>
    <div class="card h-100 border-0">
        <div class="card-body p-4">
            <div class= "row">
              <div class="col-md-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2" id="current_rating<%= movie.id %>"> <i class="fa-regular fa-star"></i> 
                  <%= movie.rating&.average %>
                </div>
              </div>
              <div class="col-md-4 ms-auto">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal0202">
                  <i class="fa-regular fa-star fa-xs"></i>
                </button>
              </div>
            </div>
            
            <a class="text-decoration-none" href="<%= movie_path(movie) %>"><h5 class="card-title mb-3"><%= movie.title %></h5></a>
            <p class="card-text mb-0"><%= movie.text %></p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
          <div class="d-flex align-items-center">
            <div class="small">
              <div class="fw-bold card-text-primary"><%= movie.category.name%></div>
            </div>
          </div>
        </div>
    </div>
    <%# /.card %>
</div>
<%# / .col-lg-4 %>
<% end %>
</div>
<%# /.row %>

<%# .pagination %>
<%= paginate movies, remote: true, params: { category_id: category_id } %>
<%# /.pagination %>